<div class="nav-bar">
    <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <a href="#" class="navbar-brand">MENU</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav mr-auto">
                    <a href="index.html" class="nav-item nav-link active">CNR</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Programación</a>
                        <div class="dropdown-menu">
                            <a href="tijuana.html" class="dropdown-item">Tijuana</a>
                            <a href="tecate.html" class="dropdown-item">Tecate</a>
                            <a href="rosarito.html" class="dropdown-item">Rosarito</a>
                            <a href="ensenada.html" class="dropdown-item">Ensenada</a>
                            <a href="mexicali.html" class="dropdown-item">Mexicali</a>
                        </div>
                    </div>
                    <a href="publicidad.html" class="nav-item nav-link">Publicidad</a>
                    <a href="contact.html" class="nav-item nav-link">Contacto</a>
                </div>
                <div class="social ml-auto">
                    <a href="https://www.facebook.com/cnrnoticias"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/cnrtv73/"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/channel/UCRhoI3g9LB5C3-H7y9vQgxw"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
        </nav>
    </div>
</div>