<h2>Noticias Relacionadas</h2>
<div class="row sn-slider">
    <div class="col-md-4">
        <div class="sn-img">
            <img src="img/news-350x223-1.jpg" />
            <div class="sn-title">
                <a href="">Interdum et fames ac ante</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="sn-img">
            <img src="img/news-350x223-2.jpg" />
            <div class="sn-title">
                <a href="">Interdum et fames ac ante</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="sn-img">
            <img src="img/news-350x223-3.jpg" />
            <div class="sn-title">
                <a href="">Interdum et fames ac ante</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="sn-img">
            <img src="img/news-350x223-4.jpg" />
            <div class="sn-title">
                <a href="">Interdum et fames ac ante</a>
            </div>
        </div>
    </div>
</div>