<div class="sidebar">
    <div class="sidebar-widget">
        <h2 class="sw-title">Nuestros Programas</h2>
        <div class="news-list">
            <div class="nl-item">
                <div class="nl-img">
                    <img src="{{ "/img/cnricon/apple-touch-icon.png" | relative_url }}" />
                </div>
                <div class="nl-title">
                    <a href="">Programa: "Noticiero Estatal"</a>
                </div>
            </div>
            <div class="nl-item">
                <div class="nl-img">
                    <img src="{{ "/img/cnricon/apple-touch-icon.png" | relative_url }}" />
                </div>
                <div class="nl-title">
                    <a href="">Programa: "Fuerza Musical"</a>
                </div>
            </div>

            <div class="nl-item">
                <div class="nl-img">
                    <img src="{{ "/img/cnricon/apple-touch-icon.png" | relative_url }}" />
                </div>
                <div class="nl-title">
                    <a href="">Programa: "Frente a la Noticia"</a>
                </div>
            </div>

            <div class="nl-item">
                <div class="nl-img">
                    <img src="{{ "/img/cnricon/apple-touch-icon.png" | relative_url }}" />
                </div>
                <div class="nl-title">
                    <a href="">Programa: "Charly Stpx"</a>
                </div>
            </div>

            <div class="nl-item">
                <div class="nl-img">
                    <img src="{{ "/img/cnricon/apple-touch-icon.png" | relative_url }}" />
                </div>
                <div class="nl-title">
                    <a href="">Programa: "Luz de Vida"</a>
                </div>
            </div>

            <div class="nl-item">
                <div class="nl-img">
                    <img src="{{ "/img/cnricon/apple-touch-icon.png" | relative_url }}" />
                </div>
                <div class="nl-title">
                    <a href="">Programa: "Enfoque Diverso"</a>
                </div>
            </div>

            <div class="nl-item">
                <div class="nl-img">
                    <img src="{{ "/img/cnricon/apple-touch-icon.png" | relative_url }}"/>
                </div>
                <div class="nl-title">
                    <a href="">Programa: "Centro de Protección Legal"</a>
                </div>
            </div>

            <div class="nl-item">
                <div class="nl-img">
                    <img src="{{ "/img/cnricon/apple-touch-icon.png" | relative_url }}" />
                </div>
                <div class="nl-title">
                    <a href="">Programa: "Convergencia Informativa</a>
                </div>
            </div>

            <div class="nl-item">
                <div class="nl-img">
                    <img src="{{ "/img/cnricon/apple-touch-icon.png" | relative_url }}" />
                </div>
                <div class="nl-title">
                    <a href="">Programa: "Noticiero Estatal por canal 73 y 66.3 "</a>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-widget">
        <div class="image">
            <a href="#"><img src="{{ "img/logos/CNR-18-ANIVERSARIO.jpeg" | relative_url }}" alt="18 aniversario de CNR"></a>
        </div>
    </div>

    <div class="sidebar-widget">
        <div class="tab-news">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="pill" href="#tijuana">Tijuana</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#rosarito">Rosarito</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#ensenada">Ensenada</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#tecate">Tecate</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#mexicali">Mexicali</a>
                </li>
            </ul>

            <div class="tab-content">
                <div id="tijuana" class="container tab-pane active">
                    {% for post in site.categories.tijuana %}
                    <div class="tn-news">
                        <div class="tn-img">
                            <img src="{{ post.image }}" />
                        </div>
                        <div class="tn-title">
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="rosarito" class="container tab-pane fade">
                    {% for post in site.categories.rosarito %}
                    <div class="tn-news">
                        <div class="tn-img">
                            <img src="{{ post.image }}" />
                        </div>
                        <div class="tn-title">
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </div>
                    </div>
                    {% endfor %}               
                </div>
                <div id="ensenada" class="container tab-pane fade">
                    {% for post in site.categories.ensenada %}
                    <div class="tn-news">
                        <div class="tn-img">
                            <img src="{{ post.image }}" />
                        </div>
                        <div class="tn-title">
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="tecate" class="container tab-pane fade">
                    {% for post in site.categories.tecate %}
                    <div class="tn-news">
                        <div class="tn-img">
                            <img src="{{ post.image }}" />
                        </div>
                        <div class="tn-title">
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div id="mexicali" class="container tab-pane fade">
                    {% for post in site.categories.mexicali %}
                    <div class="tn-news">
                        <div class="tn-img">
                            <img src="{{ post.image }}" />
                        </div>
                        <div class="tn-title">
                            <a href="{{ post.url }}">{{ post.title }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-widget">
        <div class="image">
            <a href="#"><img src="{{ "img/logos/logocnr.jpg" | relative_url }}" alt="Image"></a>
        </div>
    </div>

    <!-- <div class="sidebar-widget">
        <h2 class="sw-title">News Category</h2>
        <div class="category">
            <ul>
                <li><a href="">National</a><span>(98)</span></li>
                <li><a href="">International</a><span>(87)</span></li>
                <li><a href="">Economics</a><span>(76)</span></li>
                <li><a href="">Politics</a><span>(65)</span></li>
                <li><a href="">Lifestyle</a><span>(54)</span></li>
                <li><a href="">Technology</a><span>(43)</span></li>
                <li><a href="">Trades</a><span>(32)</span></li>
            </ul>
        </div>
    </div> -->

    <div class="sidebar-widget">
        <div class="image">
            <a href="#"><img src="{{ "img/logos/73estatal.png" | relative_url }}" alt="Image"></a>
        </div>
    </div>

    <div class="sidebar-widget">
        <h2 class="sw-title">Regiones</h2>
        <div class="tags">
            <a href="{{ "rosarito" | relative_url }}">Tijuana</a>
            <a href="{{ "tecate" | relative_url }}">Tecate</a>
            <a href="{{ "rosarito" | relative_url }}">Rosarito</a>
            <a href="{{ "ensenada" | relative_url }}">Ensenada</a>
            <a href="{{ "mexicali" | relative_url }}">Mexicali</a>
        </div>
    </div>
</div>